@import 'node_modules/reset-css/sass/reset';

body {
  padding: 1em;
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#app-container {
  display: flex;
}

#schedule-pane {
  width: 20rem;
}

.schedule-entry {
  border-top: 1px solid white;
  display: flex;
}

.schedule-progress {
  width: 1em;
}

.schedule-time-text {
  font-size: 80%;
  width: 5em;
  padding: 0.25em;
}

.schedule-entry-text {
  padding: 0.25em;
  flex: 1;
}

#timer-pane {
  padding-left: 2rem;
  padding-right: 2rem;
  flex: 1;
}

#timer {
  max-width: 80%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: block;
}

#clock {
  position: absolute;
  font-size: 3rem;
  padding: 0.25em;
  border: 2px solid white;
  border-radius: 0.25em;
  right: 1em;
}

span.live {
  font-size: 80%;
  padding: 0.15em;
  background-color: crimson;
  border-radius: 0.25em;
}

#next-up {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  padding: 0.5em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#current-activity {
  text-align: center;
  font-size: 5rem;
}

#time-left {
  text-align: center;
  font-size: 3rem;
}
